<a href="https://colab.research.google.com/github/Yuri357/Python/blob/main/15_05_tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
tp_frutas = ('maça', 'banana', 'laranja', 'goiaba')
tp_frutas

('maça', 'banana', 'laranja', 'goiaba')

In [3]:
lst_frutas = list(tp_frutas)
type(lst_frutas)
lst_frutas

['maça', 'banana', 'laranja', 'goiaba']

In [6]:
#Fatiamento (Slicing)
tp_meses = ('jan','fev','mar','abr','mai','jun','jul','ago','set','out','nov','dez')
# Se quiser apenas os meses de Junho a Nov
tp_meses[5:11]

('jun', 'jul', 'ago', 'set', 'out', 'nov')

In [7]:
#usando o pocesso de fatiamento, crie uma nova tupla apenas
#com os meses do segundo trimestre (Abril - Junho)
tp_meses[3:6 ]

('abr', 'mai', 'jun')

In [8]:
#Ordenação de dados *sort(value, key = x)
#Ordenar os estados pelo DDD e não pelo nome

uf_cod = [('PE', 81),('RJ', 21), ('SP', 11), ('PB', 83)]
sorted(uf_cod, key = lambda x : x[1])

[('SP', 11), ('RJ', 21), ('PE', 81), ('PB', 83)]

In [ ]:
#Coloque uma tupla a seguir em ordem 
#do mais novo para o mais velho
#do mais velho para o mais novo

nome_nasc = [('Zé', 2003),('Maria', 1998),('Alice', 2000)]
sorted(nome_nasc, key = lambda x : x[1], reverse = True) #Do mais novo para o mais velho
sorte(nome_nasc, key = lambda x : x[1]) #Do mais velho para o mais novo

In [29]:
#Descompacotamento de Valores.
def nome_idade_uf():
  nome = 'Joé'
  idade = 54
  uf = 'RN'
  return nome, idade, uf

name, age, uf, = nome_idade_uf()
print(name, age, uf)

Joé 54 RN

In [30]:
#Mapeamento de Valores

alunos = ('Kelly', 'Adauto','Marceline', 'Luana', 'Henrique')
notas =(5.5, 8, 9, 7.5, 6.5)

av1 = tuple(zip(alunos, notas))
av1

(('Kelly', 5.5),
 ('Adauto', 8),
 ('Marceline', 9),
 ('Luana', 7.5),
 ('Henrique', 6.5))

In [34]:
#1 Escreva uma função que receba duas tuplas como entrada e retorne uma única tupla que seja a concatenação das duas


def concatenaTupla(tp1, tp2):
  return tp1 + tp2

a = (2, 4, 5,)
b = (6, 8, 12)
concatenaTupla(a, b)

(2, 4, 5, 6, 8, 12)

In [48]:
#2 Escreva uma função que receba uma tupla contendo o nome e endereço:logradouro, número e bairro de uma pessoa e retorne uma string formada

def formatada(tupla):
  nome, logradouro, num, bairro = tupla
  return f'Nome: {nome}, residente a {logradouro}, {num}, {bairro}.'

dadosCliente = ('Robson', 'Rua longepkrai', '42', 'Torre')

print (formatada(dadosCliente))

Nome: Robson, residente a Rua longepkrai, 42, Torre.

In [ ]:
#3 Escreva uma função que receba uma lisa de Tuplas contendo nome e idade de pessoas e retorne a lista ordenada por idade.