<a href="https://colab.research.google.com/github/Yuri357/Python/blob/main/Alunos2_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Listas são estruturas de dados formadas por elementos
num = [1, 4, 3, 6,]

In [ ]:
#Tamanho de uma lista
len (num)

4

In [ ]:
num[3]

6

In [ ]:
#A ordenação das listas têm índice que inicia em 0, e vai até
print(num[0])
print(num[1])
print(num[2])
print(num[3]) #fora do indice

1
4
3
6

In [ ]:
#listas de outros tipos
alunos = ['Mariana','João', 'Pedro', 'Yuri', 'Cleiton']
alunos[3]

'Yuri'

In [ ]:
#Alterar o valores de itens de lista
alunos[3] = 'Ivan'
alunos

['Mariana', 'Luiz', 'João', 'Ivan', 'Yuri', 'Cleiton']

In [ ]:
#Inserir valores na lista .append
alunos.append('Alex')
alunos

['Mariana', 'Luiz', 'João', 'Pedro', 'Yuri', 'Cleiton', 'Alex']

In [ ]:
alunos.append(input(' Digite seu nome '))

 Digite seu nome Luiz

In [ ]:
alunos

['Mariana', 'João', 'Pedro', 'Yuri', 'Cleiton', 'Luiz']

In [ ]:
#Descobrir se há um valor determinado na lista, exebir sua posição
if 'Luiz' in alunos:
  print('Tem Luiz SIMM')
else:
   print('Tem Luiz NÃOO')

Tem Luiz SIMM

In [ ]:
nome = input ('Digite seu nome ')
if nome in alunos:
  print(' Tem ', nome)
else:
  print(' Não tem ', nome)

Digite seu nome Bart
 Não tem  Bart

In [ ]:
#Criar uma lista com números de 1 a 15
numeros = []
for num in range(21):
  numeros.append(num)

In [ ]:
numeros

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
dobro = []
for num in numeros:
  dobro.append(numeros[num]*2)
dobro

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [ ]:
for num in numeros

In [ ]:
#Descobrir se um número é par
a = 8
if a%2 == 0:
  print('é par')
else:
   print('é impar')

é par

In [ ]:
for num in numeros:
  if numeros[num]%2 == 0:
    print(numeros[num])

0
2
4
6
8
10
12
14
16
18
20