<a href="https://colab.research.google.com/github/Yuri357/Python/blob/main/aula_08_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Criando listas
lista_vazia = []

#Lista com elementos.
lista_com_coisas = [2,4,3,'Zé', 'Mané']

In [3]:
#Acessando Elementos da lista
lista = [1,2,3, 'quatro', 'cinco']

print(lista[0])  # 1 
print(lista[3])  # "Quatro"
print(lista[-1])  # "cinco"

1
quatro
cinco

In [7]:
nomes = [ 'ze', 'tiao', 'joaquim']
nomes.append ('Julia')
nomes

#varios valores
outrosNomes = ['Ana', 'Zabé', 'Maria']
nomes.extend(outrosNomes)
nomes

['ze', 'tiao', 'joaquim', 'Julia', 'Ana', 'Zabé', 'Maria']

In [13]:
#Crie uma lista de numeros e 
numeros = [2,4,1,6,9,12]
#remova o primeiro elemento da lista
numeros.remove(numeros[0])
#remova o ultimo elemento da lista
numeros.pop()
numeros

[4, 1, 6, 9]

In [15]:
#MAP map (função, iteravel)
nums = [1,3,4,8,9]
newList = list(map(lambda x: x*2, nums))
newList

[2, 6, 8, 16, 18]

In [17]:
#Recebe os valores de uma lista númerica e
#retorna o quadrado de cada número

nums2 = [6,5,7,8,1,4,69]
newList2 = list(map(lambda nums2: nums2*nums2, nums2))
newList2

[36, 25, 49, 64, 1, 16, 4761]

In [19]:
frutas = ['Banana', 'pera', 'uva', 'cajá', 'manga']

In [21]:
#Recebe uma lista de frutas e
#Retorna uma lista com a quantidade de caracteres.

newlist = list(map(lambda x: len(x), frutas))
newlist

[6, 4, 3, 4, 5]

In [22]:
#pegar os preços de uma lista
#adicionar 2 a cada um deles

precos = [2.99, 4.66, 5.00, 3.45]
newlist = list(map(lambda x: x+2, precos))
newlist

[4.99, 6.66, 7.0, 5.45]